.Card {
    border: #282c34;
    border-style: solid;
    border-width: 3px;
    background-color: #282c34;
    height: 150px;
    width: 100px;
    border-radius: 5px;
    margin: 20px;
    float: left;
    transition: transform 0.4s;
    font-size: 3.5em;
    border-color: black;
    text-align: center;
    padding-top: 40px;
    
  }

  .Card.face-up-turn {
    background-color: #000;
    transform: rotateY(180deg);
  }

  .Card.face-up-found {
    background-color:teal;
  }

  .Card:hover {
    cursor: pointer;
  }

  .Card.face-up:hover {
    cursor:not-allowed;
  }